.header {
    background-color: white;
    color: green;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 118px;
    border-radius: 0px;
    text-align: center;
    font-size: 80px;
    padding-top: 20px;
}

.header-mobile {
    background-color: white;
    color: green;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 140px;
    border-radius: 0px;
    text-align: center;
    font-size: 65px;
    padding-top: 20px;
    display: none;
    font-weight: bold;
}

.header-mobile img {
    height: 120px;
    margin-left: 50px;
    margin-right: 50px;
}    

.header-mobile a {
        color: green;
        text-decoration: none;
        margin-top: 25px;
}

@media screen and (max-width: 1350px) {
    .header {
        display: none;
    }
    .header-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1050px) {
    .header {
        display: none;
    }
    .header-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.menu {
      list-style: none;
}

.dropdown:hover .features-menu {
      display: flex;
      flex-direction: column;
      background: #B2D6FF;
      border-radius: 5px;
      padding-top: 110px;
      position: absolute;
      top: -25px;
      left: -100px;
      z-index: 1;
}

.features-menu li {
      list-style: none;
      border-bottom: 1px solid #FFF;
      padding: 0px 40px 18px 20px;
      margin: 10px;
}

.features-menu li:last-of-type {
     border-bottom: none;
}

.dropdown {
     position: relative;
}

.dropdown > span {
      z-index: 2;
      position: relative;
      bottom: 20px;
      cursor: pointer;
      font-size: 45px;
      right: 25px;
}

.features-menu {
      display: none;
}

.menu-title {
      font-size: 30px;
}
