.header {
    background-color: white;
    color: green;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 118px;
    border-radius: 0px;
    text-align: center;
    font-size: 80px;
    padding-top: 20px;
}

.header-mobile {
    background-color: white;
    color: green;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 130px;
    border-radius: 0px;
    text-align: center;
    font-size: 80px;
    padding-top: 20px;
    display: none;
    font-weight: bold;
}

.header-mobile img {
    height: 80px;
}

@media screen and (max-width: 1350px) {
    .header {
        display: none;
    }
    .header-mobile {
        display: block;
        height: 110px;
    }
    .header-mobile a {
        color: green;
        text-decoration: none;
    }
}


@media screen and (max-width: 1050px) {
    .header {
        display: none;
    }
    .header-mobile {
        display: block;
    }
    .header-mobile a {
        color: green;
        text-decoration: none;
    }
}
