.header {
    background-color: white;
    color: green;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 118px;
    border-radius: 0px;
    text-align: center;
    font-size: 80px;
    padding-top: 20px;
}

.header-mobile {
    background-color: white;
    color: green;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 140px;
    border-radius: 0px;
    text-align: center;
    font-size: 65px;
    padding-top: 20px;
    display: none;
    font-weight: bold;
}

.header-mobile img {
    height: 120px;
    margin-left: 50px;
    margin-right: 50px;
}    

.header-mobile a {
        color: green;
        text-decoration: none;
        margin-top: 25px;
}

@media screen and (max-width: 1350px) {
    .header {
        display: none;
    }
    .header-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


@media screen and (max-width: 1050px) {
    .header {
        display: none;
    }
    .header-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
